/* Form CSS */

.button,button,input,optgroup,select,textarea{font-family:inherit;font-size:1rem;line-height:1rem;margin:0}
fieldset,legend{margin: 0 1vw;}
fieldset{border-width: 0;padding: 0;margin:0;}
label,legend{display: block;font-weight: bold;padding:0px;margin-bottom:0.5rem;}

input:required,textarea:required,select:required,input:invalid,textarea:invalid,select:invalid{background-color:hsl(0, 100%, 97%);}
input:optional,textarea:optional,select:optional,input:valid,textarea:valid,select:valid{background-color:hsl(120, 100%, 97%);}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {padding:3px 15px;vertical-align: middle;text-align: center;border-radius:10px;text-decoration:none;font-weight:bold;color:black;cursor:pointer;box-shadow:3px 3px 6px var(--T25);white-space:nowrap;display:inline-block;border:1px solid black;outline:0;background-color:var(--T85);}

.button:focus, button:focus, input[type='button']:focus, input[type='reset']:focus, input[type='submit']:focus {box-shadow:3px 3px 6px var(--T25) inset;background-color:var(--T60); }


input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]):not([type="button"]), textarea, select {
	appearance: none;
	height: 2.0rem;
	vertical-align: middle;
	padding:0 0.5rem;
}
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]):not([type="button"]):focus, textarea:focus, select:focus {
outline: 0;
background-color:#ffffff;
}

.input,select,textarea{
  border: 1px solid #999;
  border-radius: 5px;
}
input:disabled,textarea:disabled{
border:1px dotted #999;
background-color:#f5f5f5;
}

span.passspan{border:1px solid #999;border-radius: 5px;margin-bottom:0.5rem;width:100%;}
span.passspan > input[type="password"],span.passspan > input[type="text"]{
  appearance: none;
	border:none;
	height: 2.0rem;
	vertical-align: middle;
	margin-bottom:0px;
	border-radius: 5px 0 0 5px;
}
span.passspan > input[type="password"]:focus,span.passspan > input[type="text"]:focus{border:none;outline:0;}
span.passspan a {padding:0 5px;line-height:2rem;vertical-align: middle;}

input[type="checkbox"]:optional + span{background-color:hsl(120, 100%, 97%);}
input[type="checkbox"]:required + span{background-color:hsl(0, 100%, 97%);}
input[type="checkbox"]:required:checked + span{background-color:hsl(120, 100%, 97%);}

textarea {height:6rem;overflow:auto;resize:vertical;}

.captchaTxt{max-width:100px;margin-right:10px;}
.captchaImg{object-fit: contain;}

.btn-dn{box-shadow:3px 3px 6px var(--T25) inset;outline:0;background-color:var(--T60);}
