@charset 'utf-8';
/* srva.au.1.CSS v0.1 | GPL-3.0 License | https://css-framework.srva.au */

:root{--res-cnr:2vw;--Dark:hsl(var(--Hue),var(--Sat),10%);--D3:hsl(var(--Hue),var(--Sat),30%);--D2:hsl(var(--Hue),var(--Sat),40%);--D1:hsl(var(--Hue),var(--Sat),50%);--Mid:hsl(var(--Hue),var(--Sat),60%);--L1:hsl(var(--Hue),var(--Sat),70%);--L2:hsl(var(--Hue),var(--Sat),80%);--L3:hsl(var(--Hue),var(--Sat),90%);--Light:hsl(var(--Hue),var(--Sat),97%);}
*,::before,::after {box-sizing: border-box;}
html{font-size:100%;line-height:1.5;}
body{font-family:sans-serif;margin:0;background:var(--Light);}
ul,ol,dd,menu{padding-left:1vw;list-style-position: inside;}
blockquote,figure{margin:1em 5vw;}
div{padding:0;margin:0;}

/* Mobile first */
canvas,iframe,img,input,select,svg,textarea,video{max-width:100%;max-height:100%;overflow-y:auto;object-fit: contain;}
img{display:block;}

/* Nice red border to spot errors */
.viewBorder{border:1px solid red;}

body{margin-bottom: 25vw;}
#srvaBox::after{content: "css-framework.srva.au";display:block;text-align:center;width:50%;margin:50px auto 0 auto;border:1px solid var(--Mid);background:var(--L3);border-radius:10px;color:var(--Mid);}

#brandmenu{position:fixed;bottom:0;z-index:10;width:100%;display: flex;flex-direction: column;background-color:var(--L3);}
#brand{height:12vw;line-height:12vw;text-align:center;color:#000000;font-weight:bold;font-size:9.0vw;text-shadow:0.1rem 0.1rem 0.2rem #ffffff, -0.1rem -0.1rem #ffffff, 0.1rem 0.1rem 0.1rem #000000;width:100%;background-image:linear-gradient(var(--L3), var(--D3));order:2;}

#menubar{padding:4px;order:1;display:flex;flex-flow: row wrap;justify-content: space-around;}

nav{max-width:700px;width:80%;}
nav ol {counter-reset: section;list-style-type: none;}
nav ol li a{text-decoration:none;}
nav li::before {counter-increment: section;content: counters(section, ".") " ";}

/* Typography */
h1{font-size:2.0rem;margin:0.5rem 0;}
h2{font-size:1.8rem;margin:0.5rem 0;}
h3{font-size:1.6rem;margin:0.5rem 0;}
h4{font-size:1.2rem;margin:0.5rem 0;}
h5{font-size:1.0rem;margin:0.5rem 0;}
h6{font-size:0.8rem;margin:0.5rem 0;}

.font-08{font-size:0.8rem;}
.font-12{font-size:1.2rem;}
.font-14{font-size:1.4rem;}
.font-16{font-size:1.6rem;}
.font-18{font-size:1.8rem;}
.font-20{font-size:2.0rem;}

.txtHero{color:var(--D3);text-align:center;font-size:1.5rem;font-style:italic;font-weight:bold;}

.txtShadow{text-shadow:1px 1px 2px white,2px 2px 4px #000000;}
.txtShadowD3{text-shadow:1px 1px 2px white,2px 2px 4px var(--D3);}
.txtShadowBlackGlow{text-shadow:1px 1px 2px white,0 0 8px var(--D3),0 0 25px var(--L1);}
.txtShadowWhiteGlow{color: white;text-shadow: 1px 1px 2px black,0 0 8px var(--D3),0 0 25px var(--L1);}

.txtCenter{text-align:center;}
.txtRight{text-align:right;}
.txtLeft{text-align:left;}
.txtJustified{txt-align:justified;}

/* Colors */
.bgcol-L3{background-color:var(--L3);}
.bgcol-L2{background-color:var(--L2);}
.bgcol-L1{background-color:var(--L1);}
.bgcol-mid{background-color:var(--Mid);}
.bgcol-D1{background-color:var(--D1);}
.bgcol-D2{background-color:var(--D2);}
.bgcol-D3{background-color:var(--D3);}

.bgcolWhite{background-color:#ffffff;}
.bgcolGray1{background-color:#F5F5F5;}
.bgcolGray2{background-color:#E8E8E8;}
.bgcolGray3{background-color:#DCDCDC;}
.bgcolGray4{background-color:#D3D3D3;}
.bgcolGray5{background-color:#C8C8C8;}
.bgcolBlack{background-color:#000000;}

.color-L3{color:var(--L3);}
.color-L2{color:var(--L2);}
.color-L1{color:var(--L1);}
.color-mid{color:var(--Mid);}
.color-D1{color:var(--D1);}
.color-D2{color:var(--D2);}
.color-D3{color:var(--D3);}

.bgd-dtol{background-color:var(--L3);background-image:linear-gradient(var(--D3), var(--L3));}
.bgd-ltod{background-color:var(--L3);background-image:linear-gradient(var(--L3), var(--D3));}

.padLR {padding:0 var(--res-cnr);}
.pad-4 {padding:var(--res-cnr);}

.flex-center-all{display: flex;justify-content: center;align-items: center;}
.flex-center-v{display: flex;flex-direction: column;justify-content: center;}
.flex-center-h{display: flex;align-items: center;}
.flex-row{display:flex;flex-flow: row nowrap;}

.width-100{width:100%;}
.width-80{width:80%;}
.width-60{width:60%;}
.width-50{width:50%;}
.width-40{width:40%;}
.width-20{width:20%;}

.spacerV-5{min-height:5px;}
.spacerV-10{min-height:10px;}
.spacerV-20{min-height:20px;}
.spacerV-30{min-height:30px;}
.spacerV-40{min-height:40px;}
.spacerV-50{min-height:50px;}
.spacerV-60{min-height:60px;}
.spacerV-70{min-height:70px;}

.spacerH-5{min-width:5px;}
.spacerH-10{min-width:10px;}
.spacerH-15{min-width:15px;}
.spacerH-20{min-width:20px;}
.spacerH-25{min-width:25px;}
.spacerH-30{min-width:30px;}

.card {border:1px solid var(--D3);background:var(--L3);border-radius:var(--res-cnr);box-shadow:5px 5px 10px var(--Dark);}
.cardHeader{overflow:hidden;height:10vh;background:var(--L1);border-radius:var(--res-cnr) var(--res-cnr) 0 0;font-weight:bold;}
.cardBody{overflow: auto;max-height:70vh;}
.cardFooter{height:10vh;background:var(--L1);border-radius:0 0 var(--res-cnr) var(--res-cnr);}

/* Alerts */
.alertRed, .alertGold, .alertTheme, .alertGreen, .alertBlue, .alertBW {width:90%;max-width:600px;padding:0 3vw;display: flex;flex-direction: column;justify-content: center;align-items: center;font-weight:bold;box-shadow:5px 5px 10px #777;border-radius:var(--res-cnr);margin:0 auto 10px auto;}
.alertRed{border:2px solid hsl(0,100%,30%);border-left:10px solid hsl(0,100%,30%);background-color:hsl(0,100%,90%);box-shadow:5px 5px 10px hsl(0,100%,10%);}
.alertGold{border:2px solid hsl(60,100%,30%);border-left:10px solid hsl(60,100%,30%);background-color:hsl(60,100%,90%);box-shadow:5px 5px 10px hsl(60,100%,10%);}
.alertTheme{border:2px solid var(--D3);border-left:10px solid var(--D3);background-color:var(--L3);box-shadow:5px 5px 10px var(--Dark);}
.alertGreen{border:2px solid hsl(120,100%,30%);border-left:10px solid hsl(120,100%,30%);background-color:hsl(120,100%,90%);box-shadow:5px 5px 10px hsl(120,100%,10%);} 
.alertBlue{border:2px solid hsl(240,100%,30%);border-left:10px solid hsl(240,100%,30%);background-color:hsl(240,100%,90%);box-shadow:5px 5px 10px hsl(240,100%,10%);}
.alertBW{border:2px solid hsl(0,0%,30%);border-left:10px solid hsl(0,0%,30%);background-color:hsl(0,0%,90%);box-shadow:5px 5px 10px hsl(0,0%,10%);}
.alertNOT{padding:0 3vw;display: flex;justify-content: center;align-items: center;font-size:0.6rem;font-weight:100;border-radius:var(--res-cnr);margin:0 auto 10px auto;border:2px solid hsl(0,0%,80%);border-left:10px solid hsl(0,0%,80%);background-color:hsl(0,0%,90%);box-shadow:5px 5px 10px hsl(0,0%,80%);}

/* Modal */
.overlay {position: fixed;background-color: rgba(255, 255, 255, 0.9);top: 0;right: 0;bottom: 0;left: 0;z-index: 999;visibility: hidden;opacity: 0;pointer-events: none;transition: all 0.3s;}
.modal {width:90vw;max-width:700px;max-height:90vh;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.overlay:target {visibility: visible;opacity: 1;pointer-events: auto;}
.close{position:absolute;top:0;right:0;font-size:1.4rem;text-decoration:none;padding:0 10px;}


.button,button,input,optgroup,select,textarea{font-family:inherit;font-size:1rem;line-height:1rem;margin:0}
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {padding:3px 15px;vertical-align: middle;text-align: center;border-radius:10px;text-decoration:none;font-weight:bold;color:black;cursor:pointer;box-shadow:3px 3px 6px #777;white-space:nowrap;display:inline-block;border:1px solid black;outline:0;background-color:var(--L2);}
.button:focus, button:focus, input[type='button']:focus, input[type='reset']:focus, input[type='submit']:focus {box-shadow:3px 3px 6px #777 inset;background-color:var(--Mid); }




@media only screen and (orientation:landscape){
:root{--res-cnr:10px;}
body{margin:0;padding-bottom:20px;}
#brandmenu{position:static;}
#menubar{order:2;}
}

@media only screen and (orientation:landscape) and (min-width:805px){
:root{--res-cnr:10px;}
body{margin:10px 0;background-color:var(--L3);background-image:linear-gradient(var(--L3), var(--D3));background-attachment:fixed;}
#srvaBox{width:800px;margin:auto;border:2px solid #ffffff;border-radius:15px;box-shadow:3px 3px 7px #777;background:var(--Light);padding-bottom:20px;}
#brandmenu{position:static;width:100%;border-radius:15px 15px 0 0;}
#brand{height:80px;font-size:70px;line-height:90px;border-radius:15px 15px 0 0;background-image:linear-gradient(var(--D3), var(--L3));}
#menubar{order:2;}
}

